<div class="common-header" ng-include="'js/apps/common/views/headerNav.html'"></div>

<nav class="half-bottom-border">
    <a ui-sref-active="curr" ui-sref="login({prevUrl:prevUrl})">普通登陆</a>
    <a ui-sref-active="curr" ui-sref="mobileLogin({prevUrl:prevUrl})">手机登陆</a>
</nav>

<div class="wrapper form-wrapper">
    <form class="gForm" name="J_Form" novalidate>
        <div class="form-item mobile-item half-bottom-border">
            <span class="left">手机号：</span>
            <span class="main">
                <input type="tel" placeholder="请输入手机号" required ng-model="mobile" />
            </span>
        </div>

        <div class="form-item pwd-item half-bottom-border">
            <span class="left">密    码：</span>
            <span class="main">
                <input type="password" placeholder="请输入密码" required ng-model="pwd" />
            </span>
        </div>
    </form>
    <div class="action-container">
        <a class="action-btn" ng-disabled="true" ng-class='{true: "forbid"}[J_Form.$invalid]' ng-click="login()">登 录</a>
    </div>

    <div class="other-login">
        <div class="title"><span>其他登录方式</span></div>
        <div class="third-styles"><a class="iconfont icon-weixin"></a></div>
    </div>

    <div class="links"><a ui-sref="reg({prevUrl:prevUrl})">免费注册</a></div>
</div>